
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <title>TradeQoin</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Meta ================================= -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Add Default CSS ================================= -->
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/css/skeleton.css">
    <link rel="stylesheet" href="/assets/css/layout.css">
    <link rel="stylesheet" href="/assets/css/master.css">

    <!-- Add CSS for Slider Plugin -->
    <link rel="stylesheet" href="/assets/css/plugins/royalslider/royalslider.css">
    <link rel="stylesheet" href="/assets/css/plugins/royalslider/skins/default/rs-default.css">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <style>.gradient { filter: none; }</style>
        <link rel="stylesheet" href="/assets/css/ie.css" />
    <![endif]-->

    <!--[if (gte IE 6)&(lte IE 8)]>
         <script type="text/javascript" src="assets/js/selectivizr-min.js"></script>
     <![endif]-->

    <!-- Favicon ================================= -->
    <link rel="shortcut icon" href="favicon.ico">

</head>
<body class="page-with-sidebar">

<div id="page">

    <div class="notifications">
        <div class="container">
            <div class="row">
                <div class="sixteen columns">
                    <div class="inner">
                        <span>This website uses cookies to enhance the user-experience.</span>
                        <a href="#">I don't agree</a> | <a class="agree" href="#">That's fine</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end notifications -->

    <div class="slider">
        <div class="slider-overlay gradient"></div>
        <div class="slider-shade"></div>
        <div class="slider-container">
            <div class="royalSlider rsDefault">
                <img class="rsImg" src="assets/images/slider/slide-01.png" alt="image desc" />
                <img class="rsImg" src="assets/images/slider/slide-02.png" alt="image desc" />
                <img class="rsImg" src="assets/images/slider/slide-03.png" alt="image desc" />
            </div>
        </div><!-- slider-container -->
    </div><!-- end slider -->


    <header class="header container">

        <div class="top-bar">
            <div class="row">
                <div class="logo">
                    <a href="#"><img src="assets/images/general/logo.png" alt="logo" /></a>
                </div>
                <nav class="menu">
                    <ul class="clearfix add_first">
                        <li><a href="#">Marketplace</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </nav>
                <div class="search">
                    <div class="search-box">
                        <input class="txt" type="text" placeholder="Search for businesses, offers or wants" />
                        <input type="submit" value="Submit">
                    </div>
                    <ul class="buttons">
                        <li class="join"><a href="#">Join</a></li>
                        <li class="login"><a href="#">Login</a></li>
                        <li class="lang"><a href="#">EN</a></li>
                    </ul>
                </div>
            </div>

        </div><!-- end menu-block -->

        <div class="middle-bar">
            <div class="join">
                <form action="/" method="post" class="inner">
                    <fieldset>
                        <h3>Register to join TradeQoin today!</h3>
                    </fieldset>
                    <fieldset>
                        <input type="text" class="large" placeholder="Company">
                        <input type="password" class="small" placeholder="Password">
                        <div class="checkbox">
                            <input type="checkbox" value="1">I’ve read and accepted the<br />TradeQoin <a href="#">terms &amp; conditions</a>
                        </div>
                    </fieldset>
                    <fieldset>
                        <input type="text" class="large" placeholder="Email address" >
                        <input type="password" class="small" placeholder="Confirm Password">
                        <button>Submit <i></i></button>
                    </fieldset>
                </form>
            </div>
            <div class="login">
                <form action="/" method="post" class="inner">
                    <fieldset>
                        <input type="text" placeholder="Email address">
                        <input type="password" placeholder="Password">
                        <input type="submit" value="Submit">
                    </fieldset>
                </form>
            </div>
            <div class="lang">
                <div class="inner">
                    <p>Language</p>
                    <ul>
                        <li class="active"><a href="#">EN</a></li>
                        <li><a href="#">FR</a></li>
                        <li><a href="#">NL</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="lower-bar clearfix">
            <div class="tagline">
                <h1>Meet TradeQoin</h1>
                <h2>New opportunities in times of downturn</h2>
                <span class="arrow"></span>
            </div>

            <nav class="lower-menu">
                <ul class="clearfix item_counter">
                    <li><a href="#">Find new <br />clients</a></li>
                    <li><a href="#">Increase <br />turnover</a></li>
                    <li><a href="#">Improve <br />profit</a></li>
                    <li><a href="#">Improve <br />cash position</a></li>
                </ul>
                <span class="arrow"></span>
            </nav>

            <a class="join" href="#"><span>Join now!</span></a>
        </div><!-- end lower-bar -->

    </header>

    <header class="header only300">

        <div class="container">
            <div class="sixteen columns">

                <div class="row expand-top">
                    <a class="logo" href="#"><img src="assets/images/general/logo-300.png" alt="logo" /></a>
                    <a class="lang" href="#">EN</a>
                    <a class="search" href="#"></a>
                </div>

                <div class="top-overlay">
                    <div class="lang">
                        <div class="inner">
                            <p>Language</p>
                            <ul>
                                <li class="active"><a href="#">EN</a></li>
                                <li><a href="#">FR</a></li>
                                <li><a href="#">NL</a></li>
                            </ul>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="search">
                        <form action="/">
                            <input class="txt" type="text" placeholder="Search for businesses, offers or wants" />
                        </form>
                    </div>
                </div>

                <div class="row buttons expand-middle">
                    <ul>
                        <li><a class="join" href="#">Join</a></li>
                        <li><a class="login" href="#">Login</a></li>
                        <li><a class="menu" href="#">Menu +</a></li>
                    </ul>
                </div>

                <div class="middle-bar">
                    <div class="join">
                        <form action="/" method="post" class="inner">
                            <fieldset>
                                <h3>Register to join TradeQoin today!</h3>
                            </fieldset>
                            <fieldset>
                                <input type="text" class="large" placeholder="Company">
                                <input type="text" class="large" placeholder="Email address" >
                                <input type="password" class="small" placeholder="Password">
                                <input type="password" class="small" placeholder="Confirm Password">
                                <div class="checkbox">
                                    <input type="checkbox" value="1">I’ve read and accepted the<br />TradeQoin <a href="#">terms &amp; conditions</a>
                                </div>
                                <button>Submit <i></i></button>
                            </fieldset>
                        </form>
                    </div>
                    <div class="login">
                        <form action="/" method="post" class="inner">
                            <fieldset>
                                <input type="text" class="large" placeholder="Email address" >
                                <input type="password" class="small" placeholder="Password">
                                <button>Submit <i></i></button>
                            </fieldset>
                        </form>
                    </div>
                    <div class="menu">
                        <ul>
                            <li><a href="#">Marketplace</a></li>
                            <li>
                                <a href="#">About</a>

                                <ul class="sub">
                                    <li><a href="#">Businesses</a></li>
                                    <li><a href="#">Matchmakers</a></li>
                                    <li><a href="#">Communities</a></li>
                                    <li><a href="#">Policy makers</a></li>
                                    <li><a href="#">General information</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </li>
                            <li><a href="#">FAQ</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="tagline">
                        <h1>Meet TradeQoin</h1>
                        <h2>New opportunities in times of downturn</h2>
                        <span class="arrow"><a href="#" class="show">i</a></span>
                    </div>
                    <div class="tagline hide">
                        <nav class="lower-menu">
                            <ul class="item_counter">
                                <li><a href="#">Find new <br />clients</a></li>
                                <li><a href="#">Increase <br />turnover</a></li>
                                <li><a href="#">Improve <br />profit</a></li>
                                <li><a href="#">Improve <br />cash position</a></li>
                            </ul>

                            <span class="arrow"></span>
                        </nav>
                    </div>
                    <div class="tagline hide">
                        <a class="join" href="#"><span>Join now!</span></a>
                    </div>
                </div>

            </div><!-- end sixteen columns -->
        </div>

    </header>

    <section id="main" class="container">
    500 error

    </section><!-- end main -->

    <footer id="footer">
        <div class="top">
            <div class="container">
                <div class="row footer-center">
                    <ul class="footer-menu">
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Privacy &amp; Security</a></li>
                        <li><a href="#">Colofon</a></li>
                    </ul>
                    <ul class="social">
                        <li class="follow">Follow us</li>
                        <li><a href="#" class="twitter"></a></li>
                        <li><a href="#" class="linkedin"></a></li>
                        <li><a href="#" class="facebook"></a></li>
                    </ul>
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end top -->

        <div class="blocks clearfix container">
            <div class="container">
                <div class="sixteen columns">
                    <ul class="block">
                        <li><h2>Marketplace</h2></li>
                        <li><a href="#">Businesses</a></li>
                        <li><a href="#">Products &amp; Services</a></li>
                    </ul><!-- end block -->
                    <ul class="block">
                        <li><h2>About</h2></li>
                        <li>Businesses</li>
                        <li><a href="#">Benefits</a></li>
                        <li><a href="#">Success Stories</a></li>
                        <li><a href="#">How it works</a></li>
                        <li><a href="#">Subscriptions</a></li>
                    </ul><!-- end block -->
                    <ul class="block no-header">
                        <li>Matchmakers</li>
                        <li><a href="#">Benefits</a></li>
                        <li><a href="#">Become a matchmaker</a></li>
                        <li><a href="#">Training &amp; certification</a></li>
                    </ul><!-- end block -->
                    <ul class="block no-header">
                        <li>Communities</li>
                        <li><a href="#">Benefits</a></li>
                        <li><a href="#">Start your community</a></li>
                    </ul><!-- end block -->
                    <ul class="block no-header">
                        <li>Policy Makers</li>
                        <li><a href="#">Economic Benefits</a></li>
                        <li><a href="#">Societal Benefits</a></li>
                    </ul><!-- end block -->
                    <ul class="block no-header">
                        <li><a href="#">General Information</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul><!-- end block -->
                    <ul class="block">
                        <li><h2>FAQ</h2></li>
                        <li><a href="#">Membership</a></li>
                        <li><a href="#">Cooperative</a></li>
                        <li><a href="#">Communities</a></li>
                    </ul><!-- end block -->
                </div><!-- end sixteen columns -->
            </div><!-- end sixteen columns -->
        </div><!-- end blocks -->

        <div class="bottom">
            <div class="container">
                <div class="sixteen columns">
                    <img src="assets/images/content/footer-logo-1.png" alt="" />
                    <img src="assets/images/content/footer-logo-3.png" alt="" />
                    <img src="assets/images/content/footer-logo-2.png" alt="" />
                </div>
            </div><!-- end container -->
        </div><!-- end bottom -->

    </footer><!-- end footer -->

</div><!-- end page -->

<script src="assets/js/lib/css3-mediaqueries.js"></script>
<script src="assets/js/lib/jquery-1.9.1.min.js"></script>
<script src="assets/js/lib/jquery-ui.min.js"></script>
<script src="assets/js/plugins/checkbox.min.js"></script>
<script src="assets/js/plugins/jquery.royalslider.min.js"></script>
<script src="assets/js/plugins/jquery.placeholder.js"></script>
<script src="assets/js/lib/typeahead.min.js"></script>
<script src="assets/js/plugins/jquery.fs.selecter.min.js"></script>
<script src="assets/js/plugins/tooltip.js"></script>
<script src="assets/js/plugins/jquery.modal.min.js"></script>
<script src="assets/js/plugins/jquery.fileinput.js"></script>
<script src="assets/js/master.js"></script>

</body>
</html>
