{% extends 'base.html' %}
{% load staticfiles menu_tags cms_tags %}

{% block title %}{% page_attribute 'page_title' %}{% endblock %}
{% block description %}{% page_attribute 'meta_description' %}{% endblock %}
{% block keywords %}{% page_attribute 'meta_keywords' %}{% endblock %}

{% block extrabody %}class="page-with-sidebar main-content about"{% endblock %}
{% block extramainclasses %} content-page{% endblock %}

{% block content %}
        <div class="five columns">
           {% include 'includes/sidemenu.html' %}
        </div><!-- end five columns sidebar -->

        <div class="eleven columns">

            <div class="inner">

                <h1 class="page-title">{% page_attribute "page_title" %}</h1>
                {% include 'includes/messages.html' %}

                <div class="row add_first add_last">

                    <div class="content-half">
                        <div class="inner">

                            <div class="item">
                                <div class="inner-item placeholder">
                                    {% placeholder 'content-col-1' %}
                                </div>
                            </div>

                        </div><!-- end inner -->

                    </div><!-- content-half -->

                    <div class="content-half">
                        <div class="inner">

                            <div class="item">
                                <div class="inner-item placeholder">
                                    {% placeholder 'content-col-2' %}
                                </div>
                            </div>
                        </div>
                    </div><!-- content-half -->

                </div><!-- end row -->
            </div>
        </div>
{% endblock %}
