{% extends "accounts/base.html" %}
{% load i18n cc3_tags %}

{% block content %}

  <div class="five columns">
      <div class="block sidebar-menu not-mobile">
          {% include 'includes/accounts_sidemenu.html' %}
      </div><!-- end sidebar menu -->
  </div><!-- end five columns sidebar -->

  <div class="eleven columns">
    <h4>{% trans 'Your Invoices' %}</h4>
    {% if object_list %}
      <table class="listing zebra">
          <thead>
              <tr>
                  <th>{% trans 'From' %}</th>
                  <th>{% trans 'Description' %}</th>
                  <th>{% trans 'Amount' %}</th>
                  <th>{% trans 'Paid?' %}</th>
                  <th></th>
              </tr>
          </thead>

          <tbody>
              {% for invoice in object_list %}
              <tr>
                  <td>{{ invoice.from_user }}</td>
                  <td>
                      <ul>
                          {% for line in invoice.lines.all %}
                          <li>{{ line.quantity }} x {{ line.description }}</li>
                          {% endfor %}
                      </ul>
                  </td>
                  <td>{{ invoice.get_total|floatformat:2 }} {{ invoice.currency.symbol }}</td>
                  <td>
                      {% if invoice.payment_status.is_paid %}
                      <span style='color: green;'>{% trans 'Yes' %}</span>
                      {% else %}
                      <span style='color: red;'>{% trans 'No' %}</span>
                      {% endif%}
                  </td>
                  <td><a href="{% url 'invoice_download_pdf' invoice.pk %}">PDF</a></td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    {% else %}
      <p>{% trans "No invoices found." %}</p>
    {% endif %}
  </div>

{% endblock %}
