{% extends "marketplace/base.html" %}
{% load i18n %}
{% block title %}{% trans 'Change member password' %}{% endblock %}

{% block content %}

<div class="five columns">
    <div class="block sidebar-menu not-mobile">
        {% include 'communityadmin/sidemenu.html' %}
    </div><!-- end sidebar menu -->
</div><!-- end five columns sidebar -->
                

<div class="eleven columns">
    <h4>{% trans 'Change member password' %} - {{ cc3_profile }}</h4>

    <p>{% trans 'Clicking the button below will generate a new random password for this user and sends it to them in an email.' %}</p>

    <form method="post">
        {% csrf_token %}
        <button class="element button" type="submit">
            <span class="l"></span>
            <span class="c">{% trans 'Send new password' %}</span>
            <span class="r"></span>
        </button>
    </form>
</div>

{% endblock %}


