{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
        <div class="five columns">
            <div class="block sidebar-menu not-mobile">
                {% include 'includes/accounts_sidemenu.html' %}
            </div><!-- end sidebar menu -->

        </div><!-- end five columns sidebar -->

        <div class="eleven columns">

<h4>{% trans 'Password reset' %}</h4>

{% if form.non_field_errors %}
<div class="element form-error">
    <p>{{ form.non_field_errors }} </p>
</div>
{% endif %}

<form method="post" action="." class="element form">{% csrf_token %}

    <div class="element label{% if form.email.errors %} error{% endif %}">
        <label for="id_email">{% trans 'Email' %}</label>
        <div class="field">
            <input type="text" id="id_email" maxlength="254" name="email"{% if form.email.value %} value="{{form.email.value}}"{% endif %} class="input-text large">{% if form.email.errors %}<span class="myerrors">{{ form.email.errors }}</span>{% endif %}
        </div>
        <div class="clearfix"></div>
    </div>


    <button class="element button pull-right"><span class="l"></span><span class="c">{% trans 'Submit' %}</span><span class="r"></span></button>
</form>

</div>
{% endblock %}
