{% extends "registration/base.html" %}
{% load i18n %}

{% block extrabody %}class="page-with-sidebar main-content about"{% endblock %}
{% block extramainclasses %} content-page{% endblock %}

{% block content %}

 <div class="five columns">
            <div class="block sidebar-menu not-mobile">
                {% include 'includes/accounts_sidemenu.html' %}
            </div><!-- end sidebar menu -->

        </div><!-- end five columns sidebar -->

        <div class="eleven columns">

<h4>{% trans 'Password change' %}</h4>
            {% include 'includes/messages.html' %}

{% if form.non_field_errors %}
<div class="element form-error">
    <p>{{ form.non_field_errors }} </p>
</div>
{% endif %}

<form method="post" action="." class="element form">{% csrf_token %}
    <div class="element label{% if form.old_password.errors %} error{% endif %}">
        <label for="id_old_password">{% trans 'Old Password' %}</label>
        <div class="field">
            <input type="password" id="id_old_password" maxlength="254" name="old_password"{% if form.old_password.value %} value="{{form.old_password.value}}"{% endif %} class="input-text large" placeholder="{% trans 'Old Password' %}">{% if form.old_password.errors %}<span class="myerrors">{{ form.old_password.errors }}</span>{% endif %}
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="element label{% if form.new_password1.errors %} error{% endif %}">
        <label for="id_new_password1">{% trans 'New Password' %}</label>
        <div class="field">
            <input type="password" id="id_new_password1" maxlength="254" name="new_password1"{% if form.new_password1.value %} value="{{form.new_password1.value}}"{% endif %} class="input-text large" placeholder="{% trans 'New Password' %}">{% if form.new_password1.errors %}<span class="myerrors">{{ form.new_password1.errors }}</span>{% endif %}
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="element label{% if form.new_password2.errors %} error{% endif %}">
        <label for="id_new_password2">{% trans 'New Password confirmation' %}</label>
        <div class="field">
            <input type="password" id="id_new_password2" maxlength="254" name="new_password2"{% if form.new_password2.value %} value="{{form.new_password2.value}}"{% endif %} class="input-text large" placeholder="{% trans 'New Password confirmation' %}">{% if form.new_password2.errors %}<span class="myerrors">{{ form.new_password2.errors }}</span>{% endif %}
        </div>
        <div class="clearfix"></div>
    </div>

        <button class="element button pull-right" id="reg_form_button"><span class="l"></span><span class="c">{% trans 'Submit' %}</span><span class="r"></span></button>
    </form>

</div>
{% endblock %}
