<div class="form group{% if field.errors %} error{% endif %}{% if field.field.required %} required{% endif %}{% block extra_field_classes %}{% endblock %}">
  {{ field.label_tag|safe }}
  {% if field.field.required %}*{% endif %}
  {% if field.help_text %}<a href="#" class="element tp" title="{{ field.help_text }}"></a>{% endif %}
  <div class="field">
    {% block field %}
      <div class="element{% if 'med' in field.field.widget.attrs.class %} med{% endif %}{% if 'large' in field.field.widget.attrs.class %} large{% endif %}{% if 'checkbox' in field.field.widget.attrs.class %} checkbox{% endif %}">
        {{ field }}
      </div>
    {% for error in field.errors %}
      <div class="alert alert-danger" role="alert">
          {{ error }}
      </div>
    {% endfor %}
    {% endblock %}
  </div>
  <div class="clearfix"></div>
</div>