{% load menu_tags cms_tags %}
{% for child in children %}
<li class="{% if child.selected %}active{% endif %}{% if child.ancestor %}active{% endif %}{% if child.sibling %}sibling{% endif %}{% if child.descendant %}descendant{% endif %}">
    <a href="{% ifequal child.attr.reverse_id 'about_business' %}{% page_url 'benefits' %}{% else %}{% ifequal child.attr.reverse_id 'general_information' %}{% page_url 'vision' %}{% else %}{{ child.attr.redirect_url|default:child.get_absolute_url }}{% endifequal %}{% endifequal %}">{{ child.get_menu_title }}</a>

    {% if child.children %}
    <ul>
        {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
    </ul>
    {% endif %}
</li>
{% endfor %}
